// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  // font-family: 'Montserrat', sans-serif;
}

.wrapper{
  width: 100%;
  height: 100%;
}

.top_navbar{
  background: #004D40;
  height: 60px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.top_navbar .hamburger{
  width: 80px;
  background: #004D40;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.top_navbar .hamburger__inner > div{
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.top_navbar .hamburger div.two{
  top: 10px;
  width: 40px;
}

.top_navbar .hamburger div.three{
  top: 20px;
}

.top_navbar .menu{
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.top_navbar .menu .right_menu ul{
  display: flex;
}
.dis{
  pointer-events:none;
  opacity: 0.6;
  cursor: pointer;
}
.top_navbar .menu .right_menu ul li{
  position: relative;
}

.top_navbar .menu .right_menu ul li .fas{
  font-size: 22px;
  cursor: pointer;
  color: #004D40;
}

.top_navbar .menu .right_menu ul li .profile_dd{
  position: absolute;
  top: 35px;
  right: -10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px 0;
  width: 180px;
  border-radius: 3px;
  display: none;
  user-select: none;
}


.top_navbar .menu .right_menu ul li .profile_dd.active{
  display: block;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item{
  padding: 10px;
  cursor: pointer;
  color: #004D40;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
  background: #E0F2F1;
}

.top_navbar .menu .right_menu ul li .profile_dd:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.main_container .sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  width: 225px;
  height: 100%;
  background: #004D40;
  transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}

.main_container .sidebar .profile{
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.main_container .sidebar .profile .img{
  padding: 0 18px;
}

.main_container .sidebar .profile img{
   width: 45px;
}

.main_container .sidebar .profile p:first-child{
  font-size: 14px;
  color: #80CBC4;
  margin-bottom: 3px;
}

.main_container .containerr{
  margin-top: 60px;
  width: calc(100% - 225px);
  margin-left: 225px;
  padding: 30px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a{
  color: #fff;
  font-size: 18px;
  padding: 13px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon{
  margin-right: 15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span{
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active{
  background: #fff;
  color: #004D40;
}

.main_container .containerr .item{
  background: #fff;
  border: 1px solid #E0F2F1;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

/* after adding active class */
.wrapper.active .sidebar{
  width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info
{
  display: none;
}

.wrapper.active .main_container .containerr{
  width: calc(100% - 80px);
  margin-left: 80px;
}

// base ends



// pricing table

$h1color: #6e768d;
$h3color: #b4bdc6;
$widthoftable: 31%;
$bgctables: #ffffff;
$bgfontcolor: #717787;

.pricingTable{
  margin: 40px auto;

  &>&-title{
    text-align: center;
    color: $h1color;
    font-size: 3em;
    font-size: 300%;
    margin-bottom: 20px;
    letter-spacing: 0.04em;
  }
  
  &>&-subtitle{
    text-align: center;
    color: $h3color;
    font-size: 1.8em;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
    
    @media screen and (max-width: 480px){
      margin-bottom: 30px;
    }
  }
  
  &-firstTable{
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    
    &_table{
      vertical-align: middle;
      width: $widthoftable;
      background-color: $bgctables;
      display: inline-block;
      padding: 0px 30px 40px;
      text-align: center;
      max-width: 320px;
      transition: all 0.3s ease;
      border-radius: 5px;
      
      @media screen and (max-width: 767px){
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: 90%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
      }
      
      & > * {
         @media screen and (max-width: 767px){
           display: inline-block;
           vertical-align: middle;
        }
        
         @media screen and (max-width: 480px){
          display: block;
           float: none;
        }
      }
      
      &:after {
         @media screen and (max-width: 767px){
           display: table;
           content: '';
           clear: both;
        }
      }
      
      &:hover{
        transform: scale(1.08);
        @media screen and (max-width: 767px){
          transform: none;
        }
      }
      
      &:not(:last-of-type){
        margin-right: (100%-$widthoftable*3)/2;
         @media screen and (max-width: 767px){
           margin-right: auto;
         }
      }
      
      &:nth-of-type(2){
        position: relative;
        
        & h1{
          @media screen and (max-width: 767px){
            padding-top: 8%;
          }
        }
        
        &:before{
          content: 'Most Popular';
          position: absolute;
          color: white;
          display: block;
          background-color: #004D40;
          text-align: center;
          right: 15px;
          top: -25px;
          height: 65px;
          width: 65px;
          border-radius: 50%;
          box-sizing: border-box;
          font-size: 0.5em;
          padding-top: 22px;
          text-transform: uppercase;
          letter-spacing: 0.13em;
          transition: all 0.5s ease;
          
          @media screen and (max-width: 988px){
             font-size: 0.6em;
          }
          
          @media screen and (max-width: 767px){
            left: 10px;
            width: 45px;
            height: 45px;
            top: -10px;
            padding-top: 13px;
          }
          
          @media screen and (max-width: 480px){
            font-size: 0.8em;
          }
          
        }
        &:hover:before{
           transform: rotate(360deg);
        }
      }
      
      &__header{
        font-size: 1.6em;
        padding: 40px 0px;
        border-bottom: 2px solid #ebedec;
        letter-spacing: 0.03em;
        
        @media screen and (max-width: 1068px){
           font-size: 1.45em;
        }
         @media screen and (max-width: 767px){
            padding: 0px;
            border-bottom: none;
            float: left;
            width: 33%;
           padding-top: 3%;
           padding-bottom: 2%;
        }
        
        @media screen and (max-width: 610px){
          font-size: 1.3em;
        }
        
        @media screen and (max-width: 480px){
           float: none;
           width: 100%;
          font-size: 1.8em;
          margin-bottom: 5px;
        }
        
      }
      
      &__pricing{
        font-size: 3em;
        padding: 30px 0px;
        border-bottom: 2px solid #ebedec;
        line-height: 0.7;
        
         @media screen and (max-width: 1068px){
           font-size: 2.8em;
        }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          float: left;
          clear: left;
          width: 33%; 
        }
        
         @media screen and (max-width: 610px){
          font-size: 2.4em;
        }
        
         @media screen and (max-width: 480px){
           float: none;
           width: 100%;
           font-size: 3em;
           margin-bottom: 10px;
        }
        
        span:first-of-type{
          font-size: 0.35em;
          vertical-align: top;
          letter-spacing: 0.15em;
           @media screen and (max-width: 1068px){
           font-size: 0.3em;
          }
        }
        span:last-of-type{
          vertical-align: bottom;
          font-size: 0.30em;
          letter-spacing: 0.04em;
          padding-left: 0.2em;
           @media screen and (max-width: 1068px){
           font-size: 0.25em;
          }
        }
      }
      
      &__options{
        list-style: none;
        padding: 15px;
        font-size: 0.9em;
        border-bottom: 2px solid #ebedec;
        
         @media screen and (max-width: 1068px){
           font-size: 0.85em;
        }
        
        @media screen and (max-width: 767px){
          border-bottom: none;
          padding: 0;
          margin-right: 10%;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.7em;
           margin-right: 8%;
        }
        
        @media screen and (max-width: 480px){
          font-size: 1.3em;
           margin-right: none;
          margin-bottom: 10px;
        }
        
        
        
        &>li{
          padding: 8px 0px;       
          
           @media screen and (max-width: 767px){
               text-align: left;    
            }
          
           @media screen and (max-width: 610px){
            padding: 5px 0;
          }
          
           @media screen and (max-width: 480px){
             text-align: center;
          }
          
          &:before{
            content: '✓';
            display: inline-block;
            margin-right: 15px;
            color: white;
            background-color: #004D40;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            font-size: 0.8em;
            padding: 2px;
            text-align: center;
            
             @media screen and (max-width: 1068px){
               width: 14px;
               height: 14px;
               padding: 1.5px;
            }
            
            @media screen and (max-width: 767px){
               width: 12px;
               height: 12px;
            }
            
          }
        }
      }
      
      &__getstart{
        color: white;
        background-color: #004D40;
        margin-top: 30px;
        border-radius: 5px;
        cursor: pointer;
        padding: 15px;
        box-shadow: 0px 3px 0px 0px rgba(102, 172, 100, 1);
        letter-spacing: 0.07em;
        transition: all 0.4s ease;
        
         @media screen and (max-width: 1068px){
           font-size: 0.95em;
        }
        
        @media screen and (max-width: 767px){
          margin-top: 0;
        }
        
         @media screen and (max-width: 610px){
          font-size: 0.9em;
           padding: 10px;
        }
        
        @media screen and (max-width: 480px){
          font-size: 1em;
           width: 50%;
          margin: 10px auto;
        }
        
        &:hover{
          transform: translateY(-10px);
          box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
          @media screen and (max-width: 767px){
            transform: none;
            box-shadow: none;
          }
        }
        
        &:active{
          box-shadow: inset 0 0 10px 1px rgba(102, 165, 100, 1), 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
          transform: scale(0.95) translateY(-9px);
          @media screen and (max-width: 767px){
            transform: scale(0.95) translateY(0);
            box-shadow:  none;
          }
        }
      }
    }
    
   
  }
}


body{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  background-color: #f0f4f7;
  color: $bgfontcolor;
  
  @media screen and (max-width: 960px){
    font-size: 80%;
  }
    @media screen and (max-width: 776px){
    font-size: 70%;
  }
    @media screen and (max-width: 496px){
    font-size: 50%;
  }
    @media screen and (max-width: 320px){
    font-size: 40%;
  }
}
// coupon input box 
.cbox{
  background-color: #004D40;
  padding: 50px;
  border-radius: 5px;
  color: white;
  text-align: center;
}




.inputbox{
  font-weight: 700;
}


.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}